.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  gap: 5px;
}

.tile {
  width: 30px;
  height: 30px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: uppercase;
}

.row {
  display: flex;
  gap: 5px;
}

.keyboard {
  padding-top: 2rem;
}

.keyboardRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 20px;
  height: 28px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
